In [6]:
import pandas as pd

data={
    "age":[12,13,23,42,12,12,23],
    "size":[12,3,2,3,22,32,43],
    "bedrooms":[12,22,32,21,2,21,21],
    "Price":[12,12,22,15,20,9,23],
}
df=pd.DataFrame(data)

In [5]:
df

   age  size  bedrooms  Price
0   12    12         2     12
1   13     3        22     12
2   23     2        32     22
3   42     3        21     15
4   12    22         2     20
5   12    32        21      9
6   23    43        21     23

In [9]:
X=df.iloc[:,0:-1]
X

   age  size  bedrooms
0   12    12        12
1   13     3        22
2   23     2        32
3   42     3        21
4   12    22         2
5   12    32        21
6   23    43        21

In [11]:
y=df.iloc[:,-1]
y

0    12
1    12
2    22
3    15
4    20
5     9
6    23
Name: Price, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import VotingRegressor
from sklearn.metrics import r2_score, mean_squared_error

# Features and Target
X = df[['size', 'bedrooms', 'age']]
y = df['Price']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# Base models
lr = LinearRegression()
dt = DecisionTreeRegressor(random_state=0)
knn = KNeighborsRegressor(n_neighbors=3)

# Voting Regressor
voting_reg = VotingRegressor(estimators=[
    ('lr', lr),
    ('dt', dt),
    ('knn', knn)
])

# Train ensemble model
voting_reg.fit(X_train, y_train)

# Predict
y_pred = voting_reg.predict(X_test)

# Evaluate
print("Voting Regressor:")
print("R² Score:", r2_score(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))

Voting Regressor:
R² Score: 0.0
MSE: 7.856597714074719